POSTGRES_USER=payflow
POSTGRES_PASSWORD=payflow
POSTGRES_DB=payflow
POSTGRES_PORT=5433

PAYMENT_SERVICE_PORT=8000
DATABASE_URL=postgresql+asyncpg://payflow:payflow@postgres:5432/payflow
APP_HOST=0.0.0.0
APP_PORT=8000

REDIS_PORT=6379

KAFKA_HOST_PORT=29092
KAFKA_CLUSTER_ID=oxmXrtM4RYGxcdkF5QHsQA
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
